// тк мы к ним обращаемся везде ниже
@import "fonts.scss";
@import "utils/reset";
@import "utils/vars";
@import "vendors/vendors";

.unselectable {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  not supported by any browser */
}

$index: calc(1vw + 1vh);

html {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background-color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease;
  background: #f8f8f8;
  &.hidden {
    overflow: hidden;
    touch-action: none;
    -ms-touch-action: none;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

// *::selection {
//   background: #fff;
//   color: #000;
// }

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  max-width: $desktopWidth;
  margin: 0 auto;
  padding: 0 15px;

  @media screen and (max-width: $smDesktopWidth) {
    // max-width: $tableWidth;
  }

  @media screen and (max-width: $tableWidth) {
    max-width: 98%;
  }

  @media screen and (max-width: $phoneWidth) {
    max-width: 100%;
  }

  @media screen and (max-width: $smPhoneWidth) {
    padding: 0 10px;
  }

  &.small {
    max-width: 936px;
  }
}

@import "./common.scss";

.section-title {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 36px;
  line-height: 140%;
  color: #17171a;
}

.main-section {
  padding-top: 60px;
}

.main-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: #273f82;
  margin-bottom: 30px;
}

.main-descr {
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #17171a;
  margin-bottom: 30px;
}

.gray-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #515151;
  margin-bottom: 30px;
}

.black-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #17171a;
  margin-bottom: 30px;
}

.link-p {
  display: inline;
  color: #273f82;
}

.main-section__wrapper {
  display: flex;
  align-items: stretch;
  gap: 30px;
}
.main-section__content {
  flex: 0 0 58%;
}

.main-section__image {
  width: 100%;
  height: 100%;
}
.image__wrap {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 520px;
  max-height: 520px;
  .rotate {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    animation: rotate 30s linear infinite 1.5s;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.personal-data {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
  align-items: stretch;
  margin-bottom: 60px;
}
.personal-data__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 33.33%;
  padding: 0 15px;
  span {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #17171a;
    padding: 0px 15px;
  }
  input {
    padding: 16px;
    background-color: #fff;
    border: 1px solid #ebebeb;
    border-radius: 8px;
  }
}
.selection-block {
  margin-bottom: 60px;
  display: flex;
  gap: 30px;
  align-items: stretch;
  .selection-item {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: #fff;
    border: 1px solid #ebebeb;
    border-radius: 8px;
    input[type="radio"] {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      &:checked + .custom-radio {
        color: #273f82;
        .custom-radio__text {
          &::after {
            opacity: 1;
          }
          &::before {
            border-color: #273f82;
          }
        }
      }
    }
    transition: box-shadow 0.3s ease-in-out;
    &:hover {
      box-shadow: 0px 2px 4px rgba(14, 31, 53, 0.06),
        0px 6px 12px rgba(14, 31, 53, 0.08),
        0px 12px 20px rgba(14, 31, 53, 0.06);
    }
  }
}
.selection-item__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #273f82;
  margin-bottom: 10px;
}

.selection-item__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #515151;
  margin-bottom: 30px;
}

.custom-radio {
  margin-top: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #c2c2c2;
  transition: color 0.15s ease-in-out;

  .custom-radio__text {
    padding-left: 40px;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 32px;
      height: 32px;
      border-radius: 50%;
      border: 2px solid #c2c2c2;
      transition: border-color 0.15s ease-in-out;
    }

    &::after {
      position: absolute;
      content: "";
      left: 8px;
      top: 50%;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: #273f82;
      opacity: 0;
      transition: opacity 0.15s ease-in-out;
    }
  }
}
